<%= form_tag("/tasks", method: "post") do %>
  <%= text_field_tag(:content) %>
  <%= submit_tag("Add Task") %>
<% end %>

<% @tasks.each do |task| %>
  <div style='padding-top: 10px'>
    <span><%= task.id %></span>
    <p><%= task.content %></p>
    <p><%= task.status %></p>
  </div>
<% end %>
